
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
}

img {
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 10px 0;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
img{
    width: 250px;
}
.profile{
    border-radius: 50%;
}
